.container{
    height: 700px;
    background-color: yellow;
    /* determine the display */
    display: flex;
    /* flex-direction: column; vertical becomes the main axis */
    flex-direction: row; 
   /* justify-content: to style our components on the main axis */
   justify-content: space-around;
   /*align-items: to style our components on the cross axis */
   align-items: center;
   /*align-content : to use on multi line flex containers*/
   align-content: flex-start;
    /* flex-wrap: to wrap around eachother instead of just shrinking*/
    flex-wrap: wrap;
    
  
}
.flexItem{
    width : 200px;
    margin: 10px;
    border: 3px solid;
    background-color: white
}

.flex-item-1{
    min-height: 100px;
    /*  flex-shrink: ;prevent shrinkinig when set to zero */
    
}   

.flex-item-2{
    min-height: 200px;
    /* overrides cross axis of a proberty */
    align-self: center;
    /*order : changes the order of an item without changing the html code */
    order: 1;

}

.flex-item-3{
    min-height: 300px;
    /* flex-grow: ;grows to the left space in the container no matter how big */
    /* flex-basis : it tells the item where to start growing from */ 
   
}

.main-container{
    display: flex;
  justify-content: center;
  align-items: center;
}